@model IEnumerable<SecuringApps.Application.ViewModels.StudentWorkViewModel>
@using SecuringApps.Presentation.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @foreach (var task in Model)
    {
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@task.StudentTask.Name</h5>
            <p class="card-title">@task.submittedOn</p>
            <p class="card-title">@task.workOwner</p>
            @Html.ActionLink("Download", "DownloadFile", "StudentWork", new { id = Encryption.SymmetricEncrypt(task.Id.ToString()).Replace("/", "|").Replace("+", "_").Replace("=", "$") })
            @Html.ActionLink("Comment", "Create", "Comments", new { id = Encryption.SymmetricEncrypt(task.Id.ToString()).Replace("/", "|").Replace("+", "_").Replace("=", "$") })

        </div>
    </div>
</div>}

</body>
</html>
