@model IEnumerable<SecuringApps.Application.ViewModels.StudentWorkViewModel>
@using SecuringApps.Presentation.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Work</title>
</head>
<body>
    @foreach (var task in Model)
    {
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">@task.StudentTask.Name</h5>
                <p class="card-title">@task.submittedOn</p>
                <a class="card-title">@task.filePath</a>
                <p class="card-title">@task.workOwner</p>
                @*<a href="Comments/Create?id=@task.Id" class="btn btn-primary">Comment</a>*@
                @Html.ActionLink("Comment", "Create", "Comments", new { id = Encryption.SymmetricEncrypt(task.Id.ToString()).Replace("/", "|").Replace("+", "_").Replace("=", "$") })

            </div>
        </div>
    }
    <br />
<div>
    <a href="Comments/Index" class="btn btn-primary">Show all Comments</a>
</div>
</body>
</html>
